
@{
    ViewBag.Title = "Entertainment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<section class="section-height-800 breadcrumb-modern parallax-container context-dark bg-gray-darkest d-none d-lg-block" data-parallax-img="@ViewBag.Banner.Image">
    <div class="parallax-content">
        <div class="bg-overlay-darker">
            <div class="container-wide section-34 section-md-60 section-lg-top-130 section-lg-bottom-155">
                <div class="d-none d-lg-block">
                    <div class="h1 breadcrumbs-custom-title">@ViewBag.Banner.description</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-34 bg-selago">
    <div class="container">
        <ul class="list-inline list-inline-12 list-inline-icon breadcrumbs-list">
            <li><a href="/">Home</a></li>
            <li><a href="#0">Services</a></li>
            <li class="active">Entertainment</li>
        </ul>
    </div>
</section>
<div class="page-content">
    <!-- Entertaiment-->
    <section class="section-80 section-md-0">
        <div class="container-wide">
            @{ var i = 1;}
            @foreach (var item in ViewBag.Entertainment)
            {
                var type = i % 2 == 0 ? "justify-content-md-end" : "justify-content-md-start";
                var aside = i % 2 == 0 ? "section-image-aside-left" : "section-image-aside-right";

                <div class="row justify-content-sm-center @type offset-top-0">
                    <div class="col-sm-10 col-md-6 section-image-aside @aside text-left">
                        <div class="section-image-aside-img d-none d-md-block" style="background-image: url(@item.Photo); background-position: center center;"></div>
                        <div class="section-image-aside-body section-60 section-lg-120 inset-md-left-10 inset-md-right-10 inset-xl-left-45 inset-xl-right-75 inset-xxl-left-85 inset-xxl-right-140">
                            <hr class="divider bg-bermuda hr-left-0">
                            <div class="offset-top-20">
                                <h3>@item.ShopName</h3>
                            </div>
                            <div class="offset-top-20 offset-lg-top-35">
                                <!-- List Inline-->
                                <ul class="list-inline list-inline-20">
                                    <li><span class="icon icon-sm mdi mdi-map-marker text-bermuda text-middle"></span><span class="text-middle">@item.Address</span></li>
                                    <li class="p"><a class="text-gray-light" href="tel:#"><span class="icon icon-sm mdi mdi-phone text-bermuda text-middle"></span><span class="text-middle">@item.Phone</span></a></li>
                                </ul>
                            </div>
                            <div class="offset-top-15">
                                <p>@item.Description</p>

                            </div>
                        </div>
                    </div>
                </div>

                i++;
            }


        </div>
    </section>
</div>

