
@{
    ViewBag.Title = "Food";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<section class="section-height-800 breadcrumb-modern parallax-container context-dark bg-gray-darkest d-none d-lg-block" data-parallax-img="@ViewBag.Banner.Image">
    <div class="parallax-content">
        <div class="bg-overlay-darker">
            <div class="container-wide section-34 section-md-60 section-lg-top-130 section-lg-bottom-155">
                <div class="d-none d-lg-block">
                    <div class="h1 breadcrumbs-custom-title">@ViewBag.Banner.description</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-34 bg-selago">
    <div class="container">
        <ul class="list-inline list-inline-12 list-inline-icon breadcrumbs-list">
            <li><a href="/">Home</a></li>
            <li><a href="#0">Services</a></li>
            <li class="active">Food</li>
        </ul>
    </div>
</section>
<div class="page-content section-60 section-md-120">
    <!-- Food-->
    <section>
        <div class="container-wide">
            <h3>Restaurants & Cafes</h3>
            <div class="row justify-content-sm-center offset-top-50 offset-xl-top-85">
                <div class="col-xxl-10 offset-xxl-1">
                    <div class="isotope-wrap isotope-wrap-vertical-border-left isotope-offset-30">
                        <div class="row">
                            <!-- Isotope Filters-->
                            <div class="col-xl-3 col-xxl-2">
                                <div>
                                    <div class="isotope-filters isotope-filters-vertical">
                                        <ul class="list-inline list-inline-sm d-lg-block inset-md-left-15 inset-md-right-15">
                                            <li class="d-block d-sm-inline-block d-lg-none">
                                                <p>Choose your category:</p>
                                            </li>
                                            <li class="section-relative offset-top-20 offset-sm-top-0 d-block d-sm-inline-block d-lg-block">
                                                <button class="isotope-filters-toggle btn btn-primary-outline" data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true">Filter<span class="caret"></span></button>
                                                <ul class="list-sm-inline isotope-filters-list d-lg-block" id="isotope-1">
                                                    <li><a class="active" data-isotope-filter="*" data-isotope-group="gallery" href="#">All Restaurants <span class="d-none d-lg-inline-block">and Cafes</span></a></li>
                                                    @foreach (var item in ViewBag.FoodFilter)
                                                    {
                                                        <li><a data-isotope-filter="@item.ServiceName" data-isotope-group="gallery" href="#">@item.ServiceName</a></li>
                                                    }
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Isotope Content-->
                            <div class="col-xl-9 col-xxl-10 offset-top-90 offset-xl-top-65">
                                <div class="isotope" data-isotope-layout="fitRows" data-isotope-group="gallery">
                                    <div class="row" data-lightgallery="group" data-lg-thumbnail="false">
                                        @foreach (var item in ViewBag.Foods)
                                        {
                                            <div class="col-12 col-md-6 isotope-item" data-filter="@item.Service.ServiceName">
                                                <!-- Product-->
                                                <div class="product product-horizontal thumbnail-robben">
                                                    <a class="thumbnail-rayen" data-lightgallery="item" href="@item.Photo">
                                                        <figure>
                                                            <img src="@item.Photo" width="295" height="260" alt="foodPhoto">
                                                            <figcaption><span class="icon icon-normal icon-lg mdi mdi-plus"></span></figcaption>
                                                        </figure>
                                                    </a>
                                                    <div class="product-body bg-selago">
                                                        <a href="@Url.Action("RestaurantSingle","Service",new { id = item.ShoId })">
                                                            <img class="img-responsive center-block img-semi-transparent-inverse" src="@item.Logo" alt="foodlogo">
                                                        </a>
                                                        <div class="product-btn-wrap offset-top-20"><a class="btn btn-xs btn-bermuda" href="@Url.Action("RestaurantSingle","Service",new { id = item.ShoId })">learn more</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>