
@{
    ViewBag.Title = "RestaurantSingle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MovieCss{
    <link href="~/Content/client/css/FoodMansory.css" rel="stylesheet" />
}

<!-- Breadcrumbs-->
<section class="section-height-800 breadcrumb-modern parallax-container context-dark bg-gray-darkest d-none d-lg-block" data-parallax-img="@ViewBag.Banner.Image">
    <div class="parallax-content">
        <div class="bg-overlay-darker">
            <div class="container-wide section-34 section-md-60 section-lg-top-130 section-lg-bottom-155">
                <div class="d-none d-lg-block">
                    <div class="h1 breadcrumbs-custom-title">@ViewBag.Banner.description</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-34 bg-selago">
    <div class="container">
        <ul class="list-inline list-inline-12 list-inline-icon breadcrumbs-list">
            <li><a href="/">Home</a></li>
            <li><a href="#0">Pages</a></li>
            <li class="active">Restaurant Page</li>
        </ul>
    </div>
</section>
<div class="page-content">
    <!-- Restaurant Page-->
    <section class="section-90 text-left">
        <div class="container-wide container-wide-custom">
            <div class="row justify-content-sm-center justify-content-xl-between">
                <div class="col-md-8 col-lg-3 col-xxl-3">
                    <a href="#">
                        <img class="img-responsive img-semi-transparent-inverse center-block" src="@ViewBag.Food.Logo"  alt="FoodLogo">
                    </a>
                </div>
                <div class="col-md-8 col-lg-6 col-xxl-5 offset-top-40 offset-lg-top-0">
                    <div class="inset-xxl-right-70">
                        <p>@ViewBag.Food.Description</p>
                    </div>
                </div>
                <div class="col-md-8 col-lg-3 col-xxl-3 offset-top-40 offset-lg-top-0">
                    <!-- List-->
                    <ul class="list list-15 text-left p">
                        <li><span class="icon icon-sm mdi mdi-map-marker text-bermuda text-middle"></span><span class="text-middle inset-left-5">@ViewBag.Food.Address</span></li>
                        <li><a class="text-gray-light" href="tel:#"><span class="icon icon-sm mdi mdi-phone text-bermuda text-middle"></span><span class="text-middle inset-left-5">@ViewBag.Food.Phone</span></a></li>
                        <li><a class="text-gray-light" href="mailto:#"><span class="icon icon-sm mdi mdi-email-outline text-bermuda text-middle"></span><span class="text-middle inset-left-5">@ViewBag.Food.Email</span></a></li>
                        <li><a class="text-gray-light" href="#"><span class="icon icon-sm mdi mdi-web text-bermuda text-middle"></span><span class="text-middle inset-left-5">@ViewBag.Food.Url_web</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Gallery-->
    <section>
        <div class="masonry">
            @foreach (var item in ViewBag.Product)
            {
                <div class="grid">
                    <img src="@item.Images">
                    <div class="grid__body">
                        <div class="relative">
                            <a class="grid__link" target="_blank" href="#0"></a>
                            @*<p class="grid__author">@item.Pro_name</p>*@
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
    <!-- Testimonials-->
    <section class="section-90 section-md-120">
        <div class="container-wide">
            <hr class="divider bg-bermuda">
            <div class="offset-top-20">
                <h3>Testimonials</h3>
            </div>
            <div class="row justify-content-sm-center offset-top-35 offset-lg-top-60">
                <div class="col-md-8 col-xl-4">
                    <div class="inset-xxl-left-35 inset-xxl-right-35">
                        <!-- Quote Boxed-->
                        <blockquote class="quote quote-boxed text-left">
                            <div class="quote-boxed-body bg-default">
                                <span class="icon icon-rotate-180 mdi mdi-format-quote text-primary"></span>
                                <h5 class="text-regular font-monospace font-italic text-gray-dark inset-left-10 offset-top-10">
                                    <q>I really enjoyed the meal ! Eggplant appetizer was 4 slices, a bit pricey, but fresh and delicious! I will surely visit this restaurant again, and I’ll recommend it to my friends.</q>
                                </h5>
                            </div>
                            <div class="offset-top-45">
                                <!-- Unit-->
                                <div class="unit align-items-center flex-row unit-spacing-sm">
                                    <div class="unit-left"><img class="rounded-circle img-responsive center-block" src="~/Content/client/images/users/user-elizabeth-wong-80x80.jpg" width="80" height="80" alt=""></div>
                                    <div class="unit-body">
                                        <h6><a href="#">Elizabeth Wong</a></h6>
                                        <p class="text-base offset-top-5 font-italic">Graphic Designer</p>
                                    </div>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-8 col-xl-4 offset-top-50 offset-xl-top-0">
                    <div class="inset-xxl-left-35 inset-xxl-right-35">
                        <!-- Quote Boxed-->
                        <blockquote class="quote quote-boxed text-left">
                            <div class="quote-boxed-body bg-default">
                                <span class="icon icon-rotate-180 mdi mdi-format-quote text-primary"></span>
                                <h5 class="text-regular font-monospace font-italic text-gray-dark inset-left-10 offset-top-10">
                                    <q>While living in Italy I just deeply fell in love with Italian cuisine. I was looking for a restaurant that could give the feeling of true Italian food, and I’m glad I found it here!</q>
                                </h5>
                            </div>
                            <div class="offset-top-45">
                                <!-- Unit-->
                                <div class="unit align-items-center flex-row unit-spacing-sm">
                                    <div class="unit-left"><img class="rounded-circle img-responsive center-block" src="~/Content/client/images/users/user-roy-johnson-80x80.jpg" width="80" height="80" alt=""></div>
                                    <div class="unit-body">
                                        <h6><a href="#">Roy Johnson</a></h6>
                                        <p class="text-base offset-top-5 font-italic">Manager</p>
                                    </div>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-8 col-xl-4 offset-top-50 offset-xl-top-0">
                    <div class="inset-xxl-left-35 inset-xxl-right-35">
                        <!-- Quote Boxed-->
                        <blockquote class="quote quote-boxed text-left">
                            <div class="quote-boxed-body bg-default">
                                <span class="icon icon-rotate-180 mdi mdi-format-quote text-primary"></span>
                                <h5 class="text-regular font-monospace font-italic text-gray-dark inset-left-10 offset-top-10">
                                    <q>It is currently my most favorite Italian restaurant! Incredibly tasty and delicious food! There are no analogues to your establishment.</q>
                                </h5>
                            </div>
                            <div class="offset-top-45">
                                <!-- Unit-->
                                <div class="unit align-items-center flex-row unit-spacing-sm">
                                    <div class="unit-left"><img class="rounded-circle img-responsive center-block" src="~/Content/client/images/users/user-jacqueline-long-80x80.jpg" width="80" height="80" alt=""></div>
                                    <div class="unit-body">
                                        <h6><a href="#">Jacqueline Long</a></h6>
                                        <p class="text-base offset-top-5 font-italic">Real Estate Agent</p>
                                    </div>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

