
@{
    ViewBag.Title = "ShopSingle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<section class="section-height-800 breadcrumb-modern parallax-container context-dark bg-gray-darkest d-none d-lg-block" data-parallax-img="@ViewBag.Banner.Image">
    <div class="parallax-content">
        <div class="bg-overlay-darker">
            <div class="container-wide section-34 section-md-60 section-lg-top-130 section-lg-bottom-155">
                <div class="d-none d-lg-block">
                    <div class="h1 breadcrumbs-custom-title">@ViewBag.Banner.description</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-34 bg-selago">
    <div class="container">
        <ul class="list-inline list-inline-12 list-inline-icon breadcrumbs-list">
            <li><a href="/">Home</a></li>
            <li><a href="#0">Pages</a></li>
            <li class="active">Shop Page</li>
        </ul>
    </div>
</section>
<div class="page-content">
    <!-- Shop Page-->
    <section class="section-90 section-lg-0 text-left">
        <div class="container-wide container-wide-custom">
            <div class="row justify-content-sm-center">
                <div class="col-md-8 col-lg-3 col-xl-4 col-xxl-3 section-lg-90">
                    <a href="#"><img class="img-responsive img-semi-transparent-inverse center-block" src="@ViewBag.Shop.Logo" width="160"  alt="ShopLogo"></a>
                    <div class="row justify-content-sm-center">
                        <div class="col-xl-6">
                            <!-- List-->
                            <ul class="list list-15 text-left p">
                                <li><span class="icon icon-sm mdi mdi-map-marker text-bermuda text-middle"></span><span class="text-middle inset-left-5">@ViewBag.Shop.Address</span></li>
                                <li><a class="text-gray-light" href="tel:#"><span class="icon icon-sm mdi mdi-phone text-bermuda text-middle"></span><span class="text-middle inset-left-5">@ViewBag.Shop.Phone</span></a></li>
                            </ul>
                        </div>
                        <div class="col-xl-6 offset-top-10 offset-xl-top-0">
                            <!-- List-->
                            <ul class="list list-15 text-left p">
                                <li><a class="text-gray-light" href="mailto:#"><span class="icon icon-sm mdi mdi-email-outline text-bermuda text-middle"></span><span class="text-middle inset-left-5 inset-xl-left-0 inset-xxl-left-5">@ViewBag.Shop.Email</span></a></li>
                                <li><a class="text-gray-light" href="#"><span class="icon icon-sm mdi mdi-web text-bermuda text-middle"></span><span class="text-middle inset-left-5">@ViewBag.Shop.Url_web</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4 offset-xxl-1 offset-top-40 offset-xl-top-0 section-lg-90">
                    <div class="inset-lg-right-35 inset-xxl-right-70">
                        <p>@ViewBag.Shop.Description</p>
                    </div>
                </div>
                <div class="col-md-8 col-lg-3 col-xxl-4 offset-top-40 offset-lg-top-0 section-image-aside section-image-aside-right text-left">
                    <div class="section-image-aside-img d-none d-lg-block" style="background-image: url(@ViewBag.Shop.Photo); background-position: center center; left: 0;"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Products-->
    <!-- Products-->
    <section class="section-90 section-md-120 bg-selago">
        <div class="container-wide">
            <hr class="divider bg-bermuda">
            <div class="offset-top-20">
                <h3>Products</h3>
            </div>
            <div class="row justify-content-sm-center offset-top-35 offset-lg-top-60">
                <div class="col-xl-12">
                    <!-- Owl Carousel-->
                    <div class="owl-carousel owl-dots-offset-top-50" data-items="1" data-sm-items="2" data-md-items="2" data-lg-items="3" data-xl-items="4" data-xxl-items="5" data-stage-padding="15" data-loop="false" data-margin="30" data-mouse-drag="false" data-dots="true">
                        @foreach (var item in ViewBag.Product)
                        {
                            <div class="owl-item">
                                <a href="#0">
                                    <figure class="thumbnail-rayen thumbnail-rayen-primary thumbnail-rayen-product">
                                        <img width="280" height="280" src="@item.Images" alt="product">
                                        <figcaption>
                                            <p class="font-weight-bold text-white">@item.Pro_name</p>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Other Shops-->
    <section class="section-90 section-md-top-120 section-md-bottom-90">
        <div class="container-wide">
            <hr class="divider bg-bermuda">
            <div class="offset-top-20">
                <h3>Other Shops</h3>
            </div>
            <div class="row justify-content-sm-center offset-top-35 offset-lg-top-60">
                @foreach (var item in ViewBag.Order)
                {
                    <div class="col-md-6 col-lg-5 col-xl-3">
                        <div class="product thumbnail-robben">
                            <a href="@Url.Action("ShopSingle","Service",new { id = item.ShoId })">
                                <span class="thumbnail-robben-img-wrap d-inline-block">
                                    <img class="img-responsive center-block img-responsive-full" src="@item.Photo" width="360" height="270" alt="ShopPhoto">
                                </span>
                            </a>
                            <div class="product-body inset-left-10 inset-right-10 offset-top-35">
                                <a href="@Url.Action("ShopSingle","Service",new { id = item.ShoId })">
                                    <img class="img-semi-transparent-inverse" src="@item.Logo"  width="109" height="100" alt="ShopLogo">
                                </a>
                                <div class="offset-top-20 inset-xxl-left-35 inset-xxl-right-35">
                                    <p>@item.Meta_description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>