
@{
    ViewBag.Title = "MovieSeat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MovieCss{
    <link rel="stylesheet" href="~/Content/client/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/client/assets/css/all.min.css">
    <link rel="stylesheet" href="~/Content/client/assets/css/animate.css">
    <link rel="stylesheet" href="~/Content/client/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/client/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/client/assets/css/odometer.css">
    <link rel="stylesheet" href="~/Content/client/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/client/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/client/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/client/assets/css/main.css">
}

@section MovieScripts{
    <script src="~/Content/client/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/client/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="~/Content/client/assets/js/plugins.js"></script>
    <script src="~/Content/client/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/client/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/client/assets/js/magnific-popup.min.js"></script>
    <script src="~/Content/client/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/client/assets/js/wow.min.js"></script>
    <script src="~/Content/client/assets/js/countdown.min.js"></script>
    <script src="~/Content/client/assets/js/odometer.min.js"></script>
    <script src="~/Content/client/assets/js/viewport.jquery.js"></script>
    <script src="~/Content/client/assets/js/nice-select.js"></script>
    <script src="~/Content/client/assets/js/main.js"></script>
}

@section scripts{
    <script>
        $(document).ready(function () {
            var timer2 = "5:01";
            var interval = setInterval(function () {

                var timer = timer2.split(':');
                //by parsing integer, I avoid all extra string processing
                var minutes = parseInt(timer[0], 10);
                var seconds = parseInt(timer[1], 10);
                --seconds;
                minutes = (seconds < 0) ? --minutes : minutes;
                seconds = (seconds < 0) ? 59 : seconds;
                seconds = (seconds < 10) ? '0' + seconds : seconds;
                //minutes = (minutes < 10) ?  minutes : minutes;
                $('.countdown').html(minutes + ':' + seconds);
                if (minutes < 0) clearInterval(interval);
                //check if both minutes and seconds are 0
                if ((seconds <= 0) && (minutes <= 0)) {
                    clearInterval(interval);
                    $('.back-button').click();
                }

                timer2 = minutes + ':' + seconds;
            }, 1000);


            $(".seat-free img").on('click', function (e) {
                var Choosed = "";
                var total = 0;
                $(".screen-wrapper .seat-area li.single-seat").each(function () {
                    if ($(this).hasClass('seat__booked')) {
                        var get = $(this).find('span').html();
                        Choosed += get + ", ";

                        var price = $(this).find('span').attr('data-price');
                        var convert = parseFloat(price);
                        total += convert;
                    }
                });

                var ChoosedSeat = Choosed.slice(0, Choosed.length - 2);

                $('.proceed-to-book .book-item:first .title').html(ChoosedSeat);
                $('.proceed-to-book .book-item:eq(1) .title').html("$" + total.toString());

                console.log(Choosed.length);
                if (Choosed.length > 0) {
                    $('.proceed-to-book .book-item:last').css("display", "block");
                } else {
                    $('.proceed-to-book .book-item:last').css("display", "none");
                }
            });

            $(".btn-checkout-page").on('click', function (e) {

                var model = new Array();
                $(".screen-wrapper .seat-area li.single-seat").each(function () {
                    if ($(this).hasClass('seat__booked')) {
                        var row = $(this);
                        var value = {};

                        value.SeatId = parseInt(row.find('span').attr('data-seatId'));
                        value.SeatName = row.find('span').attr('data-seatName');
                        value.SeatPrice = parseFloat(row.find('span').attr('data-price'));
                        value.ScreeningId = parseInt('@ViewBag.ScreeningId');

                        model.push(value);
                    }
                });

                console.log(model);

                $.ajax({
                    url: '@Url.Action("AddCart","Checkout")',
                    type: 'Post',
                    data: JSON.stringify(model),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (res) {
                        window.location = res.newUrl;
                    }
                });

            });
        });
    </script>
}

<div class="page-content">
    <section class="details-banner hero-area bg_img seat-plan-banner" style="background-image: url(@ViewBag.Banner.Image);">
        <div class="container">
            <div class="details-banner-wrapper">
                <div class="details-banner-content style-two">
                    <h3 class="title" style="color: #fff">@ViewBag.MovieName</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="page-title bg-one">
        <div class="container">
            <div class="page-title-area">
                <div class="item md-order-1">
                    <a href="@Url.Action("MovieTicket","Movie",new { id = ViewBag.MovieId })" class="custom-button back-button">
                        <i class="flaticon-double-right-arrows-angles"></i>back
                    </a>
                </div>
                <div class="item date-item" style="color: #d0dbff; ">
                    <span class="date">@ViewBag.Day</span>
                    <span class="time-bar">@ViewBag.Time</span>

                </div>
                <div class="item">
                    <h5 class="title countdown" style="color: #fff;">05:00</h5>
                    <p class="countdown__title" style="color: #d0dbff; ">Mins Left</p>
                </div>
            </div>
        </div>
    </section>

    <div class="seat-plan-section padding-bottom padding-top" style="
            background-color: #001232;">
        <div class="container">
            <div class="screen-area">
                <h4 class="screen" style="color: #fff">screen</h4>
                <div class="screen-thumb">
                    <img src="~/Content/client/assets/images/movie/screen-thumb.png" alt="movie">
                </div>
                <h5 class="subtitle">silver plus</h5>
                <div class="screen-wrapper" style="color: #d0dbff;">
                    <ul class="seat-area">
                        @{
                            var c = "G,F,E,D,C,B,A";
                            List<string> a = c.Split(',').ToList();
                        }
                        @foreach (var al in a)
                        {
                            <li class="seat-line">
                                <span>@al</span>
                                <ul class="seat--area">
                                    <li class="front-seat">
                                        <ul>
                                            @foreach (var item in ViewBag.SeatList)
                                            {
                                                if (item.SeatName.Contains(al))
                                                {
                                                    var s = (IEnumerable<OnlineMallManagement.Models.Screening_seat>)ViewBag.SeatStatus;
                                                    var check = s.Where(x => x.Seat_IdSeat == item.IdSeat).Count();

                                                    if (check == 0)
                                                    {
                                                        <li class="single-seat seat-free">
                                                            <img src="~/Content/client/assets/images/movie/seat01-free.png" alt="seat">
                                                            <span class="sit-num" data-seatId="@item.IdSeat" data-seatName="@item.SeatName" data-price="@item.price">@item.SeatName</span>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="single-seat">
                                                            <img src="~/Content/client/assets/images/movie/seat01.png" alt="seat">
                                                        </li>
                                                    }

                                                }
                                            }
                                        </ul>
                                    </li>
                                </ul>
                                <span>@al</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="proceed-book bg_img" style="background-image: url(/Content/client/assets/images/movie/movie-bg-proceed.jpg);">
                <div class="proceed-to-book">
                    <div class="book-item">
                        <span>You have Choosed Seat</span>
                        <h3 class="title"></h3>
                    </div>
                    <div class="book-item">
                        <span>total price</span>
                        <h3 class="title">$0</h3>
                    </div>
                    <div class="book-item" style="display:none;">
                        <a href="javascript:void(0)" class="custom-button btn-checkout-page">proceed</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
