
@{
    ViewBag.Title = "MovieCheckout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MovieCss{
    <link rel="stylesheet" href="~/Content/client/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/client/assets/css/all.min.css">
    <link rel="stylesheet" href="~/Content/client/assets/css/animate.css">
    <link rel="stylesheet" href="~/Content/client/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/client/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/client/assets/css/odometer.css">
    <link rel="stylesheet" href="~/Content/client/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/client/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/client/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/client/assets/css/main.css">
}

@section MovieScripts{
    <script src="~/Content/client/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/client/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="~/Content/client/assets/js/plugins.js"></script>
    <script src="~/Content/client/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/client/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/client/assets/js/magnific-popup.min.js"></script>
    <script src="~/Content/client/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/client/assets/js/wow.min.js"></script>
    <script src="~/Content/client/assets/js/countdown.min.js"></script>
    <script src="~/Content/client/assets/js/odometer.min.js"></script>
    <script src="~/Content/client/assets/js/viewport.jquery.js"></script>
    <script src="~/Content/client/assets/js/nice-select.js"></script>
    <script src="~/Content/client/assets/js/main.js"></script>
}

@section scripts{
    <script>
        $(document).ready(function () {
            var timer2 = "5:01";
            var interval = setInterval(function () {

                var timer = timer2.split(':');
                //by parsing integer, I avoid all extra string processing
                var minutes = parseInt(timer[0], 10);
                var seconds = parseInt(timer[1], 10);
                --seconds;
                minutes = (seconds < 0) ? --minutes : minutes;
                seconds = (seconds < 0) ? 59 : seconds;
                seconds = (seconds < 10) ? '0' + seconds : seconds;
                //minutes = (minutes < 10) ?  minutes : minutes;
                $('.countdown').html(minutes + ':' + seconds);
                if (minutes < 0) clearInterval(interval);
                //check if both minutes and seconds are 0
                if ((seconds <= 0) && (minutes <= 0)) {
                    clearInterval(interval);
                    $('.back-button').click();
                }

                timer2 = minutes + ':' + seconds;
            }, 1000);

            $(".btn-send-info").on('click',function () {

                var customer = {
                    FullName: $('#customer-fullname').val(),
                    Phone: $('#customer-phone').val(),
                    Email: $('#customer-mail').val()
                };

                if (ValidateContact()) {

                    $.ajax({
                        url: '@Url.Action("SendInfo", "Checkout")',
                        type: 'Post',
                        data: JSON.stringify(customer),
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        success: function (res) {
                            $('.checkout-contact-form').css('display', 'none');
                            $('#checkout__info').html(' Send booking information to ' + $('#customer-fullname').val() + ' / ' + $('#customer-mail').val() + ' / ' + $('#customer-phone').val() + '.');
                        }
                    });
                }
            });

            $("#payment-paypal").on('click', function () {

                if (ValidateContact()) {
                    $(".btn-send-info").click();
                    window.location = '@Url.Action("PaymentWithPaypal","Checkout")';
                }

            });

            function ValidateContact() {
                var check = true;

                var name = $('#customer-fullname').val();
                var phone = $('#customer-phone').val();
                var email = $('#customer-mail').val();

                if (name == '') {
                    $('#customer-fullname').next().html('Please enter your fullname.');
                    check = false;
                } else {
                    $('#customer-fullname').next().html('');
                }

                if (phone == '') {
                    $('#customer-phone').next().html('Please enter your phone.');
                    check = false;
                } else if (!phone.match(/^(\+\d)?[0-9\-\(\) ]{5,}$/i)) {
                    $('#customer-phone').next().html('Please enter a valid mobile number!');
                    check = false;
                } else {
                    $('#customer-phone').next().html('');
                }

                if (email == '') {
                    $('#customer-mail').next().html('Please enter your email address.');
                    check = false;
                } else if (!email.match(/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/)) {
                    $('#customer-mail').next().html('Please enter a valid email!');
                    check = false;
                } else {
                    $('#customer-mail').next().html('');
                }

                return check;
            }
        });
    </script>
}

<div class="page-content">

    <section class="details-banner hero-area bg_img seat-plan-banner" style="background-image: url('@ViewBag.Banner.Image');">
        <div class="container">
            <div class="details-banner-wrapper">
                <div class="details-banner-content style-two">
                    <h3 class="title" style="color: #fff">@ViewBag.MovieName</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="page-title bg-one">
        <div class="container">
            <div class="page-title-area">
                <div class="item md-order-1">
                    <a href="@Url.Action("MovieTicket","Movie",new { id = ViewBag.MovieId })" class="custom-button back-button">
                        <i class="flaticon-double-right-arrows-angles"></i>back
                    </a>
                </div>
                <div class="item date-item" style="color: #d0dbff; ">
                    <span class="date">@ViewBag.Day</span>
                    <span class="time-bar">@ViewBag.Time</span>

                </div>
                <div class="item">
                    <h5 class="title countdown" style="color: #fff;">05:00</h5>
                    <p class="countdown__title" style="color: #d0dbff; ">Mins Left</p>
                </div>
            </div>
        </div>
    </section>

    <div class="movie-facility padding-bottom padding-top" style="
            background-color: #001232;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8" style="text-align: left;">

                    <div class="checkout-widget checkout-contact">
                        <h5 class="title" style="color: #fff; ">Share your Contact  Details </h5>
                        <form class="checkout-contact-form">
                            <div class="form-group">
                                <input type="text" id="customer-fullname" placeholder="Full Name">
                                <span style="color:red;"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" id="customer-mail" placeholder="Enter your Email">
                                <span style="color:red;"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" id="customer-phone" placeholder="Enter your Phone Number ">
                                <span style="color:red;"></span>
                            </div>
                            <div class="form-group">
                                <input type="button" value="Continue" class="custom-button btn-send-info">
                            </div>
                        </form>
                        <span style="color: #d0dbff; " id="checkout__info"> </span>
                    </div>
                    @*<div class="checkout-widget checkout-contact">
                            <h5 class="title" style="color: #fff; ">Promo Code </h5>
                            <form class="checkout-contact-form">
                                <div class="form-group">
                                    <input type="text" placeholder="Please enter promo code">
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Verify" class="custom-button">
                                </div>
                            </form>
                        </div>*@
                    <div class="checkout-widget checkout-card mb-0">
                        <h5 class="title" style="color: #fff; ">Payment Option </h5>
                        <ul class="payment-option">
                          
                       
                            <li>
                                <a href="#0" id="payment-paypal">
                                    <img src="~/Content/client/assets/images/payment/paypal.png" alt="payment">
                                    <span>paypal</span>
                                </a>
                            </li>
                        </ul>
              
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="booking-summery bg-one">
                        <h4 class="title" style="color: #fff; ">booking summery</h4>
                        <ul>
                            <li>
                                <h6 class="subtitle" style="color: #fff; ">@ViewBag.MovieName</h6>
                                <span class="info">@ViewBag.MovieLanguage</span>
                            </li>

                            <li>
                                <h6 class="subtitle" style="color: #fff; ">Day</h6>
                                <span class="info">@ViewBag.Day</span>
                            </li>
                            <li>
                                <h6 class="subtitle" style="color: #fff; ">Times</h6>
                                <span class="info">@ViewBag.Time</span>
                            </li>
                            <li>
                                <h6 class="subtitle" style="color: #fff; ">Seats</h6>
                                <span class="info">@ViewBag.Seats</span>
                            </li>
                        </ul>

                        <ul>
                            <li>
                                <span class="info"><span>price</span><span>$@ViewBag.SubTotal</span></span>
                                <br>
                                <span class="info"><span>vat</span><span>$3</span></span>
                            </li>
                        </ul>
                    </div>
                    <div class="proceed-area  text-center">
                        <h6 class="subtitle" style="color: #fff; "><span>Amount Payable</span><span>$@ViewBag.Total</span></h6>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>