@model OnlineMallManagement.Models.Category_blog

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section id="basic-vertical-layouts">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Delete</h4>
                    </div>

                    <div class="card-body">
                        <form class="form form-horizontal">
                            <div class="row">
                                <div class="col-sm-12" style="text-align">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.Cate_blog_id)
                                    <div class="col-12">
                                        <div class="mb-1 row">
                                            <div class="col-12">
                                                <label>Name</label>
                                                <br />
                                                <input type="text" class="form-control" id="categoryBlog_name" name="name" value="@Html.DisplayFor(model => model.name) " readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-1 row">
                                            <div class="col-sm-12">
                                                <label>Slug</label>
                                                <br />
                                                <input type="text" class="form-control" id="categoryBlog_slug" name="slug" value="@Html.DisplayFor(model => model.slug)" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-1 row">
                                            <div class="col-sm-12">
                                                <label>Meta_title</label>
                                                <br />
                                                <input type="text" class="form-control" id="Meta_title" name="Meta_title" value="@Html.DisplayFor(model => model.Meta_title) " readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-1 row">
                                            <div class="col-sm-12">
                                                <label>Meta_keyword</label>
                                                <br />
                                                <input type="text" class="form-control" id="Meta_keyword" name="Meta_keyword" value="@Html.DisplayFor(model => model.Meta_keyword)" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-1 row">
                                            <div class="col-sm-12">
                                                <label>Meta_description</label>
                                                <input type="text" class="form-control" id="Meta_description" name="Meta_description" value="@Html.DisplayFor(model => model.Meta_description)" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9 offset-sm-0">
                                        <button type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}