
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MovieCss{
    <link rel="stylesheet" type="text/css" href="~/Content/admin/assets/css/toastr.min.css" />
    <link href="~/Content/admin/app-assets/css-rtl/plugins/extensions/ext-component-toastr.css" rel="stylesheet" />
    <style>
        #toast-container .toast:before {
            right: 16.5rem;
        }

        #toast-container .toast:after {
            right: 16.7rem;
            top: 1.3rem;
        }

        #google-map-derections {
            width: 100%;
            height: 600px;
        }
    </style>
}

@section scripts{
    <script src="~/Content/admin/assets/js/toastr.min.js"></script>
    <script src="~/Content/client/js/contact.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
        function initMap() {
            var gps = '@ViewBag.GPS';
            var gpsSplit = gps.split(',');

            var uluru = { lat: parseFloat(gpsSplit[0]), lng: parseFloat(gpsSplit[1]) };
            var map = new google.maps.Map(document.getElementById('google-map-derections'), {
                zoom: 18,
                center: uluru
            });

            const contentString = "";

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var marker = new google.maps.Marker({
                position: uluru,
                map: map,
                title: 'Address'
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        }

        google.maps.event.addDomListener(window, 'load', initMap);
    </script>
}

<!-- Breadcrumbs-->
<section class="section-height-800 breadcrumb-modern parallax-container context-dark bg-gray-darkest d-none d-lg-block" data-parallax-img="@ViewBag.Banner.Image">
    <div class="parallax-content">
        <div class="bg-overlay-darker">
            <div class="container-wide section-34 section-md-60 section-lg-top-130 section-lg-bottom-155">
                <div class="d-none d-lg-block">
                    <div class="h1 breadcrumbs-custom-title">@ViewBag.Banner.description</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-34 bg-selago">
    <div class="container">
        <ul class="list-inline list-inline-12 list-inline-icon breadcrumbs-list">
            <li><a href="/">Home</a></li>
            <li class="active">Contacts</li>
        </ul>
    </div>
</section>
<div class="page-content">
    <!-- Contacts-->
    <section class="section-60 section-md-120 text-left">
        <div class="container-wide">
            <div class="row justify-content-sm-center">
                <div class="col-md-10 col-lg-8">
                    <div class="inset-lg-right-60 inset-xxl-left-85 inset-xxl-right-120">
                        <hr class="divider hr-left-0 bg-bermuda">
                        <h3 class="offset-top-20">Get in Touch</h3>
                        <p class="offset-top-40">You can contact us any way that is convenient for you. We are available 24/7 via fax or email. You can also use a quick contact form below or visit us personally. We would be happy to answer your questions.</p>
                        <!-- RD Mailform-->
                        <form class="rd-mailform text-left offset-top-35" data-form-output="form-output-global" data-form-type="contact" method="post">
                            <div class="row justify-content-sm-center">
                                <div class="col-xl-6">
                                    <div class="form-group form-group-outside">
                                        <label class="form-label form-label-outside" for="contact-first-name">First Name</label>
                                        <input class="form-control" id="contact-first-name" type="text" name="firstName">
                                        <span class="form-validation" style="color: #a94442;"></span>
                                    </div>
                                </div>
                                <div class="col-xl-6 offset-top-10 offset-xl-top-0">
                                    <div class="form-group form-group-outside">
                                        <label class="form-label form-label-outside" for="contact-last-name">Last Name</label>
                                        <input class="form-control" id="contact-last-name" type="text" name="lastName">
                                        <span class="form-validation" style="color: #a94442;"></span>
                                    </div>
                                </div>
                                <div class="col-xl-6 offset-top-10">
                                    <div class="form-group form-group-outside">
                                        <label class="form-label form-label-outside" for="contact-email">E-mail</label>
                                        <input class="form-control" id="contact-email" type="text" name="email">
                                        <span class="form-validation" style="color: #a94442;"></span>
                                    </div>
                                </div>
                                <div class="col-xl-6 offset-top-10">
                                    <div class="form-group form-group-outside">
                                        <label class="form-label form-label-outside" for="contact-phone">Phone</label>
                                        <input class="form-control" id="contact-phone" type="text" name="phone">
                                        <span class="form-validation" style="color: #a94442;"></span>
                                    </div>
                                </div>
                                <div class="col-xl-12 offset-top-10">
                                    <div class="form-group form-group-outside">
                                        <label class="form-label form-label-outside" for="contact-message">Message</label>
                                        <textarea class="form-control" id="contact-message" name="message"></textarea>
                                        <span class="form-validation" style="color: #a94442;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="offset-top-20">
                                <button class="btn btn-primary" type="button">send</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-10 col-lg-4 offset-top-90 offset-lg-top-0">

                    <div class="offset-top-60 offset-lg-top-85">
                        <hr class="divider hr-left-0 bg-bermuda">
                        <h5 class="offset-top-15">Phones</h5>
                        <div class="offset-top-20">
                            <!-- Unit-->
                            <div class="unit align-items-center flex-row unit-spacing-xxs">
                                <div class="unit-left"><span class="icon icon-sm mdi mdi-phone text-primary"></span></div>
                                <div class="unit-body">
                                    <div class="d-inline-block">
                                        <p><a class="text-gray-light" href="tel:#">@ViewBag.Phone</a></p>
                                    </div>,

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offset-top-60 offset-lg-top-85">
                        <hr class="divider hr-left-0 bg-bermuda">
                        <h5 class="offset-top-15">E-mail</h5>
                        <div class="offset-top-20">
                            <!-- Unit-->
                            <div class="unit align-items-center flex-row unit-spacing-xxs">
                                <div class="unit-left"><span class="icon icon-sm mdi mdi-email-outline text-primary"></span></div>
                                <div class="unit-body">
                                    <p><a class="text-gray-light" href="mailto:#">@ViewBag.Email</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offset-top-60 offset-lg-top-85">
                        <hr class="divider hr-left-0 bg-bermuda">
                        <h5 class="offset-top-15">Address</h5>
                        <div class="offset-top-20 p">
                            <!-- Unit-->
                            <div class="unit align-items-center align-items-lg-start align-items-xxl-center flex-row unit-spacing-xxs">
                                <div class="unit-left"><span class="icon icon-sm mdi mdi-map-marker text-primary"></span></div>
                                <div class="unit-body"><a class="text-gray-light" href="contacts.html">@ViewBag.Address</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="rd-google-map-wrap">
            <div class="section-60 section-lg-0 inset-left-15 inset-right-15 inset-lg-left-0 inset-lg-right-0">
                <div class="box-lg box-contacts bg-default text-left center-block shadow-drop">
                    <hr class="divider hr-left-0 bg-bermuda">
                    <div class="offset-top-15">
                        <h5>Contact Information</h5>
                        <address class="contact-info offset-top-35 p">
                            <div class="unit flex-row unit-spacing-xs">
                                <div class="unit-left"><span class="icon icon-normal icon-sm icon-sm-variant-2 mdi mdi-map-marker text-primary"></span></div>
                                <div class="unit-body"><a class="text-dove-gray" href="contacts.html">@ViewBag.Address</a></div>
                            </div>
                            <div class="unit flex-row unit-spacing-xs offset-top-20">
                                <div class="unit-left"><span class="icon icon-normal icon-sm icon-sm-variant-2 mdi mdi-calendar-clock text-primary"></span></div>
                                <div class="unit-body">
                                    <p class="text-dove-gray">@ViewBag.Open</p>
                                </div>
                            </div>
                            <div class="unit flex-row unit-spacing-xs offset-top-20">
                                <div class="unit-left">
                                    <div class="icon icon-normal icon-sm icon-sm-variant-2 mdi mdi-phone text-primary"></div>
                                </div>
                                <div class="unit-body"><a class="text-dove-gray" href="tel:#">@ViewBag.Phone</a></div>
                            </div>
                            <div class="unit flex-row unit-spacing-xs offset-top-20">
                                <div class="unit-left">
                                    <div class="icon icon-normal icon-sm icon-sm-variant-2 mdi mdi-email-outline text-primary"></div>
                                </div>
                                <div class="unit-body"><a class="text-dove-gray" href="mailto:#">@ViewBag.Email</a></div>
                            </div>
                        </address>
                    </div>
                </div>
            </div>
            <div id="google-map-derections">              
            </div>
        </div>
    </section>
</div>
