<footer class="page-footer bg-shark section-80 section-lg-top-120 section-lg-bottom-60">
    <div class="container-wide">
        <div class="row justify-content-sm-center inset-xxl-left-55 row-40">

            <div class="col-sm-6 col-md-5 col-xl-4 col-xxl-4 text-xxl-center">
                <!--Brand--><a class="brand" href="/" style="text-align: left;display: block;margin-bottom: 20px;">
                    <img class="brand-logo-light" src="@ViewBag.Logo" alt="logo" width="101" height="28" />
                </a>
                <p class="text-gray-lighter text-left inset-xxl-right-140">@ViewBag.Description</p>
            </div>
            <div class="col-sm-6 col-md-5 col-xl-2 col-xxl-2 text-xxl-right">
                <!-- List Marked-->
                <ul class="list list-marked list-marked-white text-left inset-xxl-left-75">
                    <li><a class="text-bermuda" href="@Url.Action("Shops","Service")">Shops</a></li>
                    <li><a class="text-bermuda" href="@Url.Action("Food","Service")">Food</a></li>
                    <li><a class="text-bermuda" href="@Url.Action("Entertainment","Service")">Entertainment</a></li>
                    <li><a class="text-bermuda" href="@Url.Action("Parking","Service")">Parking</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-5 col-xl-2 col-xxl-2 text-xxl-right">
                <!-- List Marked-->
                <ul class="list list-marked list-marked-white text-left inset-xxl-left-100">
                    <li><a class="text-bermuda" href="@Url.Action("Directions","Home")">Directions</a></li>
                    <li><a class="text-bermuda" href="@Url.Action("Entertainment","Service")">Services</a></li>
                    <li><a class="text-bermuda" href="@Url.Action("Events","Event")">Events</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-5 col-xl-2 col-xxl-2 text-xxl-center">
                <!-- List Marked-->
                <ul class="list list-marked list-marked-white text-left inset-xxl-left-140">
                    
                    <li><a class="text-bermuda" href="@Url.Action("Sales","Home")">Sales</a></li>
                    <li><a class="text-bermuda" href="@Url.Action("BlogClassic","Blog")">Latest News</a></li>
                    <li><a class="text-bermuda" href="@Url.Action("Contact","Home")">Contacts</a></li>
                </ul>
            </div>
        </div>

    </div>
</footer>
